.container{
    max-width: 1240px;
    margin: 0 auto;
    width: 100%;
}
*{
    margin: 0;
    padding: 0px ;
    box-sizing: border-box;
}

.header{
    background-color: white;
    box-shadow: 2px 2px 8px 2px rgb(225, 225, 225);
    padding: 20px 0;  
}
.header.fixed{
    padding: 20px 0;
    background-color: #99ff6a;
    transition: .3s ease-in-out;
    /* box-shadow: 1px 1px 15px 2px #707070; */
}
.n-wrapper{
    display: flex;
    justify-content: space-between;
}
.n-lift{
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
}
.n-name img{
    max-width: 100px;
    width: 100%;
    border-radius: 50%;
    height: 50px;
}
.n-rigth{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: normal
}
.n-list{
    flex: 10;
}
.n-list ul{
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
    font-family: "Reddit Sans", sans-serif;
}

.n-list ul a{
    text-decoration: none;
    font-family: "Reddit Sans", sans-serif;
    color: black;
}
.n-list a:hover{
    cursor: pointer;
    color: orange;
}
.button{
    padding:  10px 20px;
    background-color: dodgerblue;
    border-radius: 34px;
    border: none;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: all .2s linear;
  }
  .button a{
    text-decoration: none;
  }
.navbar{
    padding: 20px;
}
